.main_chat__content--chat
  .main_chat__content--chat___date
    .main_chat__content--chat___date---name
      = message.user.name
    .main_chat__content--chat___date---time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main_chat__content--chat___message
    - if message.body.present?
      = message.body
    - if message.image.present?
      = image_tag message.image.url